.blog {
  padding-bottom: 4.6em;
}
.blog__cards {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5em;
}
.blog__item {
  width: 16.68em;
  height: 24em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.blog__img {
  width: 16.68em;
  height: 14em;
}
.blog__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.blog__date {
  font-size: 0.8em;
  color: #9095A9;
}
.blog__title {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5em;
}
.blog__exerpt {
  color: #9095A9;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.18em;
}
.blog__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}