.footer {
  border-top: 3px solid #eff0f2;
  margin-top: 5em;
  &__info {
    width: 71.25em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    border-bottom: 3px solid #eff0f2;
    padding-bottom: 2em;
  }

  &__item {
    padding-bottom: 0.75em;

    &_main {
      font-size: 1.1em;
      padding-bottom: 1.5em;
    }
  }

  &__item-link {
    color: #9095a9;

    opacity: 0.7;
  }

  &__tel {
    padding-bottom: 0.5em;
  }

  &__mail {
    font-size: 1.1em;
    padding-bottom: 1em;
    color: #7984c0;
  }

  &__icon {
    color: #7984c0;
    font-size: 1.5em;
  }

  &__license {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 71.25em;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__info-link {
    color: #7984c0;
  }



  &__rights {
    color: #9095a9;
  }
}

