.quality {
  margin-top: 4em;
  padding-bottom: 4em;

  &__main {
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    gap: 1.5em;
  }

  &__item {
  }

  &__icon-block {
    width: 7.75em;
    height: 7.75em;
    border: 2px solid #eff0f2;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__quality__icon {
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__text {
    margin-top: 1.5em;
  }

  &__subtitle {
    text-align: center;
    padding-bottom: 1em;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 24px;
  }

  &__slogan {
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
    color: #9095a9;
  }
}

.fa-cart-plus {
  color: #7984c0;
  font-size: 2.5em;
}
.fa-circle-check {
  color: #7984c0;
  font-size: 2.5em;
}
.fa-sliders {
  color: #7984c0;
  font-size: 2.5em;
}
.fa-handshake {
  color: #7984c0;
  font-size: 2.5em;
}
